*{
    box-sizing: border-box;
}

body{
    margin: 0 5% 5% 5%;
    font-family: ocr-b-std, monospace;
    font-style: normal;
    font-weight: 400;
}
/* nav bars */
nav{
    position: fixed;
    height: 15%;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-between; */
    background: white;
}


nav a{
  text-align: center;
  font-size: 50px;
  text-decoration: none;
  display: flex;
  align-self: flex-end;
  margin-top: 5%;
  cursor: pointer;
  /* color: #BEBEBE; */
  color: rgb(0, 0, 0, .6);
}

/* the div container the hamburger and icon 
Purpose when on mobile it's easier to hide and show the menu items*/
.top-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.top-bar a{
    display: none;
}

nav a:hover{
    color: purple;
}

nav a:active{
    text-decoration: none;
}
.active-link{
    color: black;
    text-decoration: underline;
}

.top-bar i {
    display: flex;
    align-items: center;
}

.fa-bars{
    margin-top: 2%;
    margin-right: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/* hide the menu items by default */
.nav-links{
    display: none;
}

/* toggle class for top nav bar on mobile. resize the bar for ease of use */
.mobile-click{
    height: 100%;
}

.nav-links-mobile{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -5%;
}

.img-clicked-style{
    width: 30%;
    height: 13%;
}

.top-bar img{
    text-align: left;
    width: 30%;
    height: 5%;
}

/* content */

section{
    padding-top: 150px;
}

section h1{
    text-align: center;
    font-size: 55px;
    color: rgb(0, 0, 0, 0.7);
}

section p{
    line-height: 36pt;
    text-align: center;
}

/* Personal image */
.selfie{
    width: 40%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

section img{
    display: block;
    margin: 0 auto;
    width: 70%;

}

/* tech for portfolio */
.technologies{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.port-entry{
    margin-bottom: 4%;
}
/* code links */
.code-links-group{
    text-align: center;
}

.code-links{
    margin-left: 10%;
    color: rgb(18, 8, 107);
}

.code-links:hover{
    color: #AFB0FC;
}

/* contact buttons */
.contact-ways{
    display: flex;
    justify-content: space-evenly;
}

.contact-ways a {
    text-decoration: none;
}

/* tablet */
@media screen and (min-width: 768px){

    nav a:first-child{
        display: block;
        font-size: 40px;
        margin-top: 11%;
    }
    .top-bar img{
        width: 15%;
    }

    .fa-bars{
        margin-right: 1%;
    }
}

/* Desktop */
@media screen and (min-width: 1022px){
    body{
        margin: 1%;
    }
    /* nav bar */
    nav{
        height: 100%;
        width: 20%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .top-bar{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .top-bar img{
        padding-bottom: 0;
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    .fa-bars{
        display: none !important;
    }

    /* nate's web forge */
    nav a:first-child{
        text-align: center;
    }
    /* navigation links */
    .nav-links{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-right: 5%;
    }

    /* content */
    main{
        width: 50%;
        margin-left: 33%;
    }

    section{
        margin-bottom: 300px;
    }
    
}
